### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [151]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np
import math


# File to Load (Remember to Change These)
archivo = "Pandas_Challenge/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("purchase_data.csv")
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [99]:
total_number_players = pd.DataFrame(purchase_data[["SN"]].nunique())
total_number_players

      0
SN  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [100]:
total_unique_items = purchase_data["Item ID"].nunique()
total_unique_items

183

In [101]:
total_purchases = purchase_data["Item ID"].count()
total_purchases

780

In [102]:
total_revenues = purchase_data["Price"].sum()
total_revenues

2379.77

In [103]:
total_average = purchase_data["Price"].mean()
total_average

3.050987179487176

In [104]:
#make a list first to then convert to a dataframe
listica = [total_unique_items, total_purchases, total_revenues, total_average]
listica2 = ["Total Unique Items", "Total Purchases", "Total Revenues", "Total Average"]
df=pd.DataFrame(list(zip(listica2,listica)))
df
df.transpose()

                    0                1               2              3
0  Total Unique Items  Total Purchases  Total Revenues  Total Average
1                 183              780         2379.77        3.05099

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [105]:
frame = pd.DataFrame(purchase_data)
frame.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [106]:
males_count = frame.loc[frame["Gender"] == "Male", :]
group_males = males_count.groupby(['SN'])
total_only_males = len(group_males)
total_only_males

484

In [107]:
females_count = frame.loc[frame["Gender"] == "Female", :]
group_females = females_count.groupby(['SN'])
total_only_females = len(group_females)
total_only_females

81

In [108]:
OND_count = frame.loc[frame["Gender"] == "Other / Non-Disclosed", :]
group_OND = OND_count.groupby(['SN'])
total_only_OND = len(group_OND)
total_only_OND

11

In [126]:
males_percentage = (total_only_males/total_number_players)*100
males_percentage

            0
SN  84.027778

In [117]:
females_percentage = (total_only_females/total_number_players)*100
females_percentage

          0
SN  14.0625

In [129]:
OND_percentage = (total_only_OND/total_number_players)*100
OND_percentage

           0
SN  1.909722

In [122]:
#to do table Gender Demographics

gender_demo = {'Gender': ['Male', 'Female', 'Other_Non_Disclosed'],
              'Total Count': [total_only_males, total_only_females, total_only_OND],
              'Percentage of Players': [males_percentage, females_percentage, OND_percentage]}
frame_gender_demo = pd.DataFrame(gender_demo)
frame_gender_demo

                Gender  Total Count        Percentage of Players
0                 Male          484              0
SN  84.027778
1               Female           81                0
SN  14.0625
2  Other_Non_Disclosed           11               0
SN  1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [116]:
male_count_pur = (purchase_data["Gender"] == "Male").sum()
male_count_pur

652

In [114]:
female_count_pur = (purchase_data["Gender"] == "Female").sum()
female_count_pur

113

In [81]:
non_disclosed_count_pur = (purchase_data["Gender"] == "Other / Non-Disclosed").sum()
non_disclosed_count_pur

15

In [139]:
#Average Purchae Price by gender
total_pur_females = females_count["Price"].sum()
total_pur_females

361.94

In [140]:
avg_pur_price_females = total_pur_females/female_count_pur
avg_pur_price_females

3.203008849557522

In [141]:
total_pur_males = males_count["Price"].sum()
total_pur_males

1967.64

In [143]:
avg_pur_price_males = total_pur_males/male_count_pur
avg_pur_price_males

3.0178527607361967

In [144]:
total_pur_OND = OND_count["Price"].sum()
total_pur_OND

50.19

In [146]:
avg_pur_price_OND = total_pur_OND/non_disclosed_count_pur
avg_pur_price_OND

3.3459999999999996

In [150]:
purchasing_analysis_gender = {'Gender': ['Female', 'Male', 'Other_Non_Disclosed'],
              'Purchase Count':[female_count_pur, male_count_pur, non_disclosed_count_pur],
              'Average Purchase Price': [avg_pur_price_females, avg_pur_price_males, avg_pur_price_OND],
              'Total Purchase Value':[total_pur_females, total_pur_males, total_pur_OND]}
frame_purchasing_analysis_gender = pd.DataFrame(purchasing_analysis_gender)
frame_purchasing_analysis_gender

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value
0,Female,113,3.203009,361.94
1,Male,652,3.017853,1967.64
2,Other_Non_Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame